---
layout: default
title: Nishal Kulkarni
---
<section class="self-intro">
		<div class="photo-self">
			<img  src="assets/images/me.jpg" alt="Photo of Nishal Kulkarni"></img>
		</div>
		<div class="info-self">
			<h1 class="title">Hi, I'm Nishal.</h1>
			<p>
			I'm a Computer Science student at the <a href="http://www.vit.ac.in/" class="para-link" target="_blank">Vellore Institute of Technology</a>. When I’m not busy completing assignments, you can find me working on my <a href="projects.html" class="para-link">side projects</a>, reading a book (mostly nonfiction), learning a new language, playing table tennis and video games.
			</p>
			<p>
			Other than the things listed above, I also have a long <a href="bucketlist.html" class="para-link">bucket list</a>. If you like me so far and want to know more, this website is full of <a href="journal.html" class="para-link">articles</a> documenting my ideas, opinions, achievements and valuable lessons I have learned ever since I started this website.
			</p>
		</div>	
</section>

<style>
.post-links a{
	padding: 0.5rem 1.25rem;
	margin: 0 -1.25rem;
}
</style>
<section class="post-links index-section" style="border:none;color:#ccc;">
	<h2>Recent Articles</h2>
	{% for post in site.posts limit:5 %}
	<a href="{{ post.url }}">
		<h3 style="font-weight:400;">{{ post.title }}</h3>
	</a>
	{% endfor %}
</section>

<section class="index-section" style="overflow-x:auto;">
	<h2>Current Projects</h2>
	<table> 
		<colgroup>
			<col span="1" style="width: 25%;">
			<col span="1" style="width: 45%;">
			<col span="1" style="width: 30%;">
		</colgroup>
		<tr style="display:none;">
			<th>Project Name</th>
			<th>Project Description</th> 
			<th>Project Links</th>
		</tr>	
		{% for project in site.data.projects %}
		<tr>
			<td><h3>{{ project.name }}</h3></td>
			<td><p>{{  project.description }}</p></td>
			<td>
				<div class="buttons" style="float:left;">
					{% if project.project-link and project.project-link!="" and project.project-link!=nil %}
					<a class="button blue-button" href="{{ project.project-link }}" target="_blank">Project</a>
					{% endif %}
					{% if project.source-link and project.source-link!="" and project.source-link!=nil %}
					<a class="button grey-button" href="{{ project.source-link }}">Source</a>
					{% endif %}
				</div>
			</td>
		</tr>
		{% endfor %}
	</table>
</section>

