---
layout: default
---
<h1>Projects</h1>
<table> 
	<colgroup>
		<col span="1" style="width: 21%;">
		<col span="1" style="width: 49%;">
		<col span="1" style="width: 30%;">
	</colgroup>
	<tr style="display:none;">
		<th>Project Name</th>
		<th>Project Description</th> 
		<th>Project Links</th>
	</tr>	
	{% for project in site.data.projects %}
	<tr>
		<td><h3>{{ project.name }}</h3></td>
		<td><p>{{  project.description }}</p></td>
		<td>
			<div class="buttons">
				{% if project.project-link and project.project-link!="" and project.project-link!=nil %}
				<a class="button blue-button" href="{{ project.project-link }}" target="_blank">Project</a>
				{% endif %}
				{% if project.source-link and project.source-link!="" and project.source-link!=nil %}
				<a class="button grey-button" href="{{ project.source-link }}">Source</a>
				{% endif %}
			</div>
		</td>
	</tr>
	{% endfor %}
</table>

