<div id="aboutPage" class="inner-page-section">
    <div class="sub-section shadows">
        <!-- <img src="/assets/images/me.jpg" class="img-fluid rounded shadows" style="width: 30%;height:30%;"  alt="My Photo"> -->
        about ila risus mollis metus, fermentum laoreet dui urna sed justo.
        Nam sollicitudin porttsse ultricies, nisi
        et molestie faucibus, ligula risus mollis metus, fermentum laoreet dui
        urna sed justo. Nam sollicitudorttsapien. Suspendisse velit erat,
        scelerisque sit amet euismod in, ultrices molestie felis. Suspendisse
        ultricies, nisi et molestie faucibus, ligula risus mollis metus,
        fermentum laoreet dui urna sed justo. Nam sollicitudin porttitor leo
        at porttitor. Nulla consequat semper eleifend. Etiam commodo auctor
        mattis.
    </div>
</div>