<script>
  if (localStorage.getItem("color-mode") === "dark") {
    document.documentElement.setAttribute("color-mode", "dark");
  }
</script>

<nav>
  <div class="nav-brand">
    <a href="/index.html">
      <span>Nishal Kulkarni</span>
    </a>
  </div>
  <ul class="nav-links">
    <li><a href="/blog.html">Blog</a></li>
    <li><a href="/contact.html">Contact</a></li>
    <li><a href="{{site.data.info.github-url}}" target="_blank">GitHub</a></li>

    <li>
      <button
        class="color-mode-btn light--hidden"
        a aria-label="Toggle light mode"
      >
        <i class="far fa-sun"></i>
      </button>
      <button class="color-mode-btn dark--hidden" aria-label="Toggle dark mode">
        <i class="far fa-moon"></i>
      </button>
    </li>
  </ul>
</nav>

<script>
  const toggleColorMode = (e) => {
    if (e.currentTarget.classList.contains("light--hidden")) {
      document.documentElement.setAttribute("color-mode", "light");
      localStorage.setItem("color-mode", "light");
      return;
    }

    document.documentElement.setAttribute("color-mode", "dark");
    localStorage.setItem("color-mode", "dark");
  };

  const toggleColorButtons = document.querySelectorAll(".color-mode-btn");
  toggleColorButtons.forEach((btn) => {
    btn.addEventListener("click", toggleColorMode);
  });
</script>
