<style>
.nav-brand a{
	font-weight:600;
	color:#333;
}

.nav-links {
	list-style-type: none;
	overflow: hidden;
}

.nav-links li{
	float: left;
}

.nav-links li a{
	display: block;
	text-align: center;
	text-decoration: none;
	margin: 0 0.5rem;
	color: #585858;
	font-weight:400;
}

nav a:hover, 
nav a:focus, 
nav a:active{
	color:#111;
	text-decoration: underline;
}

</style>
<nav>
	<div class="nav-brand">
		<a href="/index.html"> 
			<span>Nishal Kulkarni</span>
		</a>
	</div>
	<ul class="nav-links">
		<li><a href="/index.html" class="active">Me</a></li>
		<li><a href="/journal.html">Journal</a></li>
		<li><a href="/contact.html">Contact</a></li>
		<li><a href="{{site.data.info.github-url}}" target="_blank">GitHub</a></li>
	</ul>
</nav> 
