nav {
	background: white;
	margin: 0rem 2rem;
	height: 90px;
	display:flex;
	align-items:center;
	justify-content:space-between;
}
.nav-brand a{
	font-weight:600;
	color:#333;
}

.nav-links {
  list-style-type: none;
  overflow: hidden;
}

.nav-links li {
  float: left;
}

.nav-links li a {
  display: block;
  text-align: center;
  text-decoration: none;
  margin: 0 0.5rem;
  color: #585858;
  font-weight: 400;
}

nav a:hover,
nav a:focus,
nav a:active {
  color: #111;
  text-decoration: underline;
}
